.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;

.logo{
    height: 100%;
    width: 70px;
    padding: 15px;
}

.options{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    align-items: center;

.option{
    padding: 10px 15px;
    text-decoration-line: none;
    color: black;
}
}
}