@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Open+Sans+Condensed:ital@0;1&display=swap');
body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Gotu', sans-serif;
}